body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensure it covers the full viewport height */
  margin: 0; /* Remove default margin */
  background-color: #242424;
  color: #fff;
}

.canvas-wrapper {
  width: 500px;
  height: 500px;
  overflow: hidden;
  border: 1px solid #000;
  text-align: center;
  align-content: center;
  overflow: hidden;
}

p {
  line-height: 0.5;
}